{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col text-center">
      <div class="title_data">
        Раунд: {{ fight_data.round_number }}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col text-center">
      <div class="red_fighter_div">
      {{fight_data.red_fighter.participant_first_name}} {{fight_data.red_fighter.participant_last_name}}
        <p></p>
        <button data-id='{{fight_data.fight_id}}' type="button" class="select_red_fighter btn btn-primary">Выбрать</button>
      </div>  
      <p></p>

    </div>
    <div class="col text-center">
      <div class="blue_fighter_div text-center">
      {{fight_data.blue_fighter.participant_first_name}} {{fight_data.blue_fighter.participant_last_name}}
      </div>
      <p></p>
      <button data-id='{{fight_data.blue_fighter_id}}' type="button" class="select_blue_fighter btn btn-primary">Выбрать</button>
    </div>
    
  </div>
</div>          






<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {

      // Обработка нажатия красного бойца в ajax
      // Из ajax мы можем получить только fight_id здесь нет вообще никаких данных из БД. Поэтому получив данные из Бд уходим сразу на раут с обработкой этого fight_id
      $(".red_fighter_div").click('.select_red_fighter_ajax', function(){
        
        var fight_id = $('.select_red_fighter_ajax').data('id');
        console.log("данные с кнопки ajax", fight_id)
        $.ajax({
        url: '/ajaxfile_red_fighter',
        type: 'post',
        data: {fight_id:fight_id},
        success: function(data){
            $('.red_fighter_div').html(data);
            $('.red_fighter_div').append(data.htmlresponsered);
            $('.blue_fighter_div').html(data);
            $('.blue_fighter_div').append(data.htmlresponseblue);

          }
        });

       });

      $('.select_red_fighter').click(function(){
        
        var fight_id = $(this).data('id');

        //var round_number = {{ fight_data.round_number }}
        //var fight_id =  {{ fight_data.fight_id }}

        console.log("fight_id после нажатия c первого боя", {{fight_data.fight_id}})
        $.ajax({
        url: '/ajaxfile_red_fighter',
        type: 'post',
        data: {fight_id:fight_id},
        success: function(data){
            $('.red_fighter_div').html(data);
            $('.red_fighter_div').append(data.htmlresponsered);
            $('.blue_fighter_div').html(data);
            $('.blue_fighter_div').append(data.htmlresponseblue);

          }
        });
        });
        $('.select_blue_fighter').click(function(){
            var blue_fighter_id = $(this).data('id');

            $.ajax({
            url: '/ajaxfile_blue_fighter',
            type: 'post',
            data: {blue_fighter_id: blue_fighter_id},
            // success: function(data){
            //     $('.modal-body').html(data);
            //     $('.modal-body').append(data.htmlresponse);
            //     $('#competition_edit_modal').modal('show');
            // }
          });
        });
     

} );
</script>

{% endblock %}